#update-frame {
  height: 100%;
  padding: 25px 20px;
}

.update-message {
  span {
    display: none;
  }
}

.update-buttons {
  text-align: right;

  .button {
    display: none;
  }
}

#app.checking-for-update .checking-for-update,
#app.updating .updating,
#app.update-error .update-error,
#app.no-update .no-update,
#app.update-ready .update-ready {
  display: initial;
}

#app.no-update {
  .checking-for-update {
    display: none;
  }
}
